<div class="container-flud">
<!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6UHlL1klcr7fBLpraLg9Faxr7RpUNJOYexw&usqp=CAU"> -->

<form (submit)="search()">
  <div  >
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="enter github username" [(ngModel)]='username' >
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
  
</form>
<div>
  <p>Profile</p>
  <app-profiles [profileData]='profileData'></app-profiles>
</div>


<div>
  <p>Repos</p>
<app-repos [reposData]='reposData'></app-repos>
</div>

</div>
<style>
  label{
    font-size: 900;
    color: rgb(4, 0, 255);
  }
  p{
    color: blue;
  }
</style>