<div class="container-flud">
<img src="https://media.istockphoto.com/photos/blue-male-avatar-blank-shape-in-white-hole-3d-illustration-picture-id1283675387?k=20&m=1283675387&s=612x612&w=0&h=geZqsViD_cO6fP5gZl4GOqjSFZhPmVEhIMzQTC4qoRU=">

<form (submit)="search()">
  <div  >
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="enter github username" [(ngModel)]='username' >
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
  
</form>
<div>
  <p>Profile</p>
  <app-profiles [profileData]='profileData'></app-profiles>
</div>


<div>
  <p>Repos</p>
<app-repos [reposData]='reposData'></app-repos>
</div>

</div>
<style>
  label{
    font-size: 900;
    color: rgb(4, 0, 255);
  }
  p{
    color: blue;
  }
</style>